@import url("reset.css");
@import url("fonts.css");
@import url("fontawesome-all-min.css");
@keyframes fadeTranslateX {
    0% {
        opacity: 0;
        transform: translateX(3%);
        animation-timing-function: ease-in-out;
    }
    100% {
        opacity: 1.0;
        transform: none;
    }
}
@keyframes translateY {
    0% {
        transform: translateY(10rem);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes rotateX {
    0% {
        transform: rotateX(-80deg);
    }
    100% {
        transform: rotateX(0);
    }
}
@keyframes zoom {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: 0;
}
input, textarea {
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    margin: 0;
}
.fontlight {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
.fontthin {
    font-family: Roboto, sans-serif;
    font-weight: 100;
}
.fontblack {
    font-family: Roboto, sans-serif;
    font-weight: 900;
}
.fontnormal {
    font-family: Roboto, sans-serif;
    font-weight: normal;
}
body {
    font-family: Roboto, sans-serif;
    background: rgb(240, 240, 240);
}
#bg-container {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(196,18,255,1) 0%, rgba(196,18,255,1) 1%, rgba(37,106,152,1) 81%, rgba(0,128,128,1) 100%);
    z-index: 1;
}
#background-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
    z-index: 2;
}
#background-dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center url("../img/dot.png") repeat;
    z-index: 3;
    opacity: 0.6;
}
/*about developer banner*/
header {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
#banner {
    max-width: 70%;
    display: flex;
    flex-direction: row;
    animation: fadeTranslateX 1s forwards, translateY .7s forwards, rotateX .7s forwards;
    opacity: 0;
}
#banner #profile_picture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 1px 2px 5px rgba(0,0,0,.5), inset 0 0 0 1px rgba(255,255,255,.5);
    background: center url("../img/profile_picture.jpg");
    background-size: 150px;
}
#banner #developer_container {
    margin-left: 3rem;
    width: 80%;
}
#banner #developer_name {
    font-size: 4rem;
}
#banner #developer_office, #banner #developer_description, #banner h1 {
    text-shadow: .2rem .3rem 10px rgba(0,0,0,.7); 
    color: #fff;
}
#banner #developer_office {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
#banner #developer_description {  
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    text-align: justify;  
}
#banner #learnmore {
    background: #0067b8;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.4), 0 0 0 1px rgba(0,0,0,.2), 1px 1px 5px rgba(0,0,0,.5);
    border: 0;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .28em;
    padding: 1rem 2.5em 1em 2.5em;
    transition: all .25s ease-in-out;
}
#banner #learnmore:hover {
    background: #147bca;
}
#banner #learnmore:active {
    background: #0b5288;
    transform: scale(0.90);
}
/*about developer banner*/

/*sidebar*/
#hamburguer {
    width: 1.5em;
    height: 1.5em;
    z-index: 1000;
    position: fixed;
    top: .5em;
    right: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em;
    border-radius: 100%;
    background: rgba(0,0,0,.3);
    transition: all .1s ease-in-out;
}
#hamburguer:hover {
    background: rgba(0,0,0,.6);
}
#hamburguer:active {
    transform: scale(0.90);
}
#hamburguer .line {
    width: 100%;
    height: .1em;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.7);
}
#hamburguer input {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001;
    opacity: 0;
    cursor: pointer; 
}
#hamburguer input:checked ~ .line {
    display: none;
}
#hamburguer input:checked ~ #hamburguer-close {
    display: block;
}
#hamburguer-close {
    width: 25px;
    height: 25px;
    display: none;
}  
#hamburguer-close .close1 {
    height: 25px;
    width: .1em;
    margin-left: 12px;
    background: #fff;
    transform: rotate(45deg);
    Z-index: 1;
}
#hamburguer-close .close1 .close2 {
    height: 25px;
    width: .1em;
    background: #fff;
    transform: rotate(90deg);
    Z-index: 2;
}
#sidebar, #sidebar::before {
    width: 20rem;
    height: 100vh;  
}
#sidebar::before {
    background: linear-gradient(-45deg, rgba(196,18,255,1) 0%, rgba(196,18,255,1) 1%, rgba(37,106,152,1) 81%, rgba(0,128,128,1) 100%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    filter: brightness(60%);
    content: "";
    opacity: 0.97;
}
#sidebar {
    position: fixed;
    top: 0;
    right: -30rem;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 1.875rem rgba(0,0,0,.7);
    transition: all .3s ease-in-out;
    opacity: 0;
}
#sidebar.show-menu {
    right: 0;
    opacity: 1;  
}
#sidebar .menu-item {
    text-align: center;
    margin-bottom: 1.5rem;
    width: 100%;
    transition: all .2s ease-in-out;
}
#sidebar .menu-item:active {
    transform: scale(0.90);
}
#sidebar .menu-link {
    height: 1em;
    width: 100%;
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
#sidebar .menu-link:hover {
   background: rgba(0,0,0,.6);
}
#social-media {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5em;
}
#social-media-container {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    margin: 0 1em;
}
#social-media-container a {
    font-size: 2em;
    color: #fff;
    padding: .1em;
    width: 1.5em;
    height: 1.5em;
    max-width: 3em;
    max-height: 3em;
    background: rgba(0,0,0,.1);
    border: 0.0625rem solid rgba(255,255,255,.3);
    border-radius: 100%;  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    transition: all .2s ease-in-out;
}
#social-media-container a:hover {
    background: rgba(0,0,0,.6);
}
#social-media-container a:active, #sidebar .menu-link:active {
    transform: scale(0.90);
}
#social-media-container a span {
    font-size: .5em;
    padding: .4em .6em;
    position: absolute;
    top: -2.5rem;
    background: rgba(0,0,0,.8);
    border-radius: 1rem;
    visibility: hidden;
    min-width: 3.5em;
    text-align: center;
}
#social-media-container a:hover span {
    visibility: visible;
}
/*sidebar*/
/*sections*/
section {
    margin: 4rem 0;
}
.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-header h1 {
    font-size: 4rem;
    color: rgba(0,0,0,.8);
    margin: 0 0 3rem 0;
}
#knowledge-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    column-gap: 4rem;
    margin: 0 10rem;
}
.knowledge-item {
    padding: 1.5rem;
}
.knowledge-item-header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 0 .5rem 0;
    color: rgba(0,0,0,.8);
}
.knowledge-item-header h3 {
    font-size: 2rem;
    grid-column: 1;
}
.knowledge-item-header i {
    font-size: 2rem;
    grid-column: 2;
}
.knowledge-item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}
.knowledge-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}
.knowledge-item:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}
.knowledge-item:nth-child(4) {
    grid-column: 2;
    grid-row: 1;
}
.knowledge-item:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
}
.knowledge-item:nth-child(6) {
    grid-column: 2;
    grid-row: 3;
}
.knowledge-item-text {
    text-align: justify;
    line-height: 1.7rem;
    color: rgba(0,0,0,.8);
}
#projects-container {
    display: flex;
    justify-content: space-evenly;
}
.project-card {
    width: 22.5rem;
    height: 30rem;
    display: flex;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0,0,0,.5), 1px 1px 7px rgba(0,0,0,.7);
    transition: all .2s ease-in-out;
    user-select: none;
}
.project-card:hover {
    transform: scale(1.03);  
}
.project-card:active {
    transform: scale(1);
}
.project-card:hover .project-info {
    opacity: 1;
    transition: all .3s ease-in-out;
}
.project-card-bg, .project-card-bg-dark, .project-card-bg-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.project-card-bg {
    z-index: 1;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.4);
    border-radius: .5rem;
}
.project-card:hover .project-card-bg-gradient {
    opacity: 0.4;
    transition: all .3s ease-in-out;
}
.project-card:hover .project-card-bg-dark {
    opacity: 0.5;
    transition: all .3s ease-in-out;
}
.project-card-bg-gradient {
    background: linear-gradient(45deg, rgba(196,18,255,1) 0%, rgba(196,18,255,1) 1%, rgba(37,106,152,1) 81%, rgba(0,128,128,1) 100%);
    z-index: 2;
    opacity: 0;
}
.project-card-bg-dark {
    z-index: 3;
    background: #000;
    border-radius: .5rem;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.4);
    opacity: 0;
}
.project-card a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 5;
    width: 100%;
    height: 100%;
}
.project-card a:active {
    background: rgba(0,0,0,.4);
    transition: all .3s ease-in-out;
}
.project-card:nth-child(1) .project-card-bg {
    background: url("../img/placeholder1.jpg");
    background-size: cover;
}
.project-card:nth-child(2) .project-card-bg {
    background: url("../img/placeholder2.jpg");
    background-size: cover;
}
.project-card:nth-child(3) .project-card-bg {
    background: url("../img/placeholder3.jpg");
    background-size: cover;
}
.project-info {
    align-self: flex-end;
    position: relative;
    z-index: 4;
    padding: 1rem;
    opacity: 0;
    line-height: 1.8rem;
}
.project-card p, .project-card h2, .project-info h4 {
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0,0,0,.7);
}
.project-info h4 {
    background: rgba(0,0,0,.6);
    border-radius: 10rem;
    padding: .3rem .8rem;
    display: inline-block;
}
.project-card p {
    padding: .8rem 0;
    text-align: justify;
}
#contactdeveloper {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
#contactdeveloper #formcontainer {
    width: 60%;
    height: 80%;
}
#contactdeveloper form {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}
#contactform .textlabel {
    background: #fff;
    color: #616161;
    align-items: center;
    position: absolute;
    top: .9rem;
    left: .5rem;
    font-size: 1rem;
    cursor: text;
    padding: 0 .2rem;
}
#contactform .textinput {
    padding: .8rem;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.8);
    width: 100%;
    transition: .25s ease-in-out;
    box-sizing: border-box;
    background: #fff;
}
#contactform .textinput:focus {
    border: 1px solid #208de0;
    box-shadow: 0 0 0 1px #208de0;
    background: #fff;
    display: inline-block;
}
#contactform textarea {
    resize: none;
    height: 15rem;
    border: 1px solid transparent;
}
#contactform #bottompanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#contactform #bottompanel a {
    color: #1367a7;
    align-self: center;
}
#contactform #bottompanel a:hover {
    color: #208de0;
}
#contactform #bottompanel a:active {
    color: #0b5288;
}
#sendbutton {
    align-self: center;
    padding: .5rem .9rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .25s ease-in-out;
    background: #1367a7;
}
#sendbutton:hover {
    background: #208de0;
}
#sendbutton:active {
    background: #0b5288;
}
#sendbutton i, #sendbutton span, #sendbutton {
    cursor: pointer;
    color: #fff;
    user-select: none;
}
#siteinfo {
    padding: 5rem 2rem 1rem 2rem;
    color: rgb(117, 117, 117);
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}
#siteinfo a {
    color: rgb(82, 82, 82);
}
#siteinfo a:hover {
    color: rgb(96, 88, 209);
    text-decoration: underline;
    transition: all .25s ease-in-out;
}
#siteinfo a:active {
    color: rgb(124, 124, 124);
}