@import url("header.css");
@import url("sidebar.css");
@import url("sections.css");
@import url("fonts.css");
@import url("fontawesome-all-min.css");

/*animations*/

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}
@keyframes translateX {
    0% {
        transform: translateX(3%);
    }
    100% {
        transform: none;
    }
}
@keyframes translateX2 {
    0% {
        transform: translateX(30%);
    }
    100% {
        transform: none;
    }
}
@keyframes translateY {
    0% {
        transform: translateY(10rem);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes rotateX {
    0% {
        transform: rotateX(-80deg);
    }
    100% {
        transform: rotateX(0);
    }
}
@keyframes zoom {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}
/*end - animations*/
:focus {
    outline:none;
}
::-moz-focus-inner {
    border:0;
}
.a {
    transition: all .25s ease-in-out;
    color: #0067b8;
}
.a1 {
    color: rgba(0,0,0, .7);
    transition: all .25s ease-in-out;
}
.a:hover, .a1:hover {
    color: #2a92e2;
}
.a:active, .a1:active {
    color: #0b5288;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Roboto, sans-serif;
    background: rgb(240, 240, 240);
    font-size: 16px;
    color: rgba(0,0,0,.8);
}
input, textarea {
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    margin: 0;
}
.fontlight {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
.fontthin {
    font-family: Roboto, sans-serif;
    font-weight: 100;
}
.fontblack {
    font-family: Roboto, sans-serif;
    font-weight: 900;
}
.fontmedium {
    font-family: Roboto, sans-serif;
    font-weight: 500;
}
.fontnormal {
    font-family: Roboto, sans-serif;
    font-weight: normal;
}
.disableselection {
    user-select: none;
}
.flexrow {
    display: flex;
    flex-direction: row;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
}
.tooltip {
    font-size: .9rem;
    padding: .4rem .8rem;
    position: absolute;
    bottom: -2.5rem;
    background: rgba(0,0,0,.7);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.2);
    color: #fff;
    border-radius: 1rem;
    display: none;
    min-width: 3.5em;
    text-align: center;
    animation: fade .25s ease-in-out;
    backdrop-filter: blur(.4rem);
}
.close {
    border-radius: 0 0 .5rem .5rem;
    background: rgba(0,0,0,0);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.4);
    border: 0;
    border-radius: 100%;
    transition: all .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.close:hover {
    background: rgb(196,43,43);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.0);
}
.close:active {
    background: rgb(196,43,43);
    box-shadow: inset 0 0 7px rgba(0,0,0,.8);
    transform: scale(0.90);
}
.close svg {
    fill: rgba(0,0,0,.6);
}
.close:hover svg, .close:active svg {
    fill: rgb(255,255,255);
}