@import url("header.css");
@import url("sidebar.css");
@import url("sections.css");
@import url("fonts.css");
@import url("fontawesome-all-min.css");

/*animations*/
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}
@keyframes translateX {
    0% {
        transform: translateX(3%);
    }
    100% {
        transform: none;
    }
}
@keyframes translateY {
    0% {
        transform: translateY(10rem);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes rotateX {
    0% {
        transform: rotateX(-80deg);
    }
    100% {
        transform: rotateX(0);
    }
}
@keyframes zoom {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}
/*end - animations*/
:focus {
    outline:none;
}
::-moz-focus-inner {
    border:0;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Roboto, sans-serif;
    background: rgb(240, 240, 240);
    font-size: 16px;
    color: rgba(0,0,0,.8);
}
input, textarea {
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    margin: 0;
}
.fontlight {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
.fontthin {
    font-family: Roboto, sans-serif;
    font-weight: 100;
}
.fontblack {
    font-family: Roboto, sans-serif;
    font-weight: 900;
}
.fontnormal {
    font-family: Roboto, sans-serif;
    font-weight: normal;
}
.disableselection {
    user-select: none;
}
.flexrow {
    display: flex;
    flex-direction: row;
}
.flextstart {
    align-self: flex-start;
}
