.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-header h1 {
    font-size: 4rem;
    margin: 4rem 0 3rem 0;
}
/*start - knowledge section*/
#knowledge-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    column-gap: 6rem;
    row-gap: 3rem;
    margin: 0 10rem;
}
.knowledge-item-header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 0 .5rem 0;
}
.knowledge-item-header h3 {
    font-size: 2rem;
    grid-column: 1;
}
.knowledge-item-header i {
    font-size: 2rem;
    grid-column: 2;
}
.knowledge-item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}
.knowledge-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}
.knowledge-item:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}
.knowledge-item:nth-child(4) {
    grid-column: 2;
    grid-row: 1;
}
.knowledge-item:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
}
.knowledge-item:nth-child(6) {
    grid-column: 2;
    grid-row: 3;
}
.knowledge-item-text {
    text-align: justify;
    line-height: 1.7rem;
}
/*end of knowledge section*/

/*start of projects section*/
#projects-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 7px; /*navigation/scrolling fix*/
}
.project-card {
    width: 22.5rem;
    height: 30rem;
    display: flex;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0,0,0,.5), 1px 1px 7px rgba(0,0,0,.7);
    transition: all .2s ease-in-out;
}
.project-card:hover {
    transform: scale(1.03);  
}
.project-card:active {
    transform: scale(1);
}
.project-card:hover .project-info {
    opacity: 1;
    transition: all .3s ease-in-out;
}
.project-card-bg, .project-card-bg-dark, .project-card-bg-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.project-card-bg {
    z-index: 1;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.4);
    border-radius: .5rem;
}
.project-card:hover .project-card-bg-gradient {
    opacity: 0.4;
    transition: all .3s ease-in-out;
}
.project-card:hover .project-card-bg-dark {
    opacity: 0.5;
    transition: all .3s ease-in-out;
}
.project-card-bg-gradient {
    background: linear-gradient(45deg, rgba(196,18,255,1) 0%, rgba(196,18,255,1) 1%, rgba(37,106,152,1) 81%, rgba(0,128,128,1) 100%);
    z-index: 2;
    opacity: 0;
}
.project-card-bg-dark {
    z-index: 3;
    background: #000;
    border-radius: .5rem;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.4);
    opacity: 0;
}
.project-card a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 5;
    width: 100%;
    height: 100%;
}
.project-card a:active {
    background: rgba(0,0,0,.4);
    transition: all .3s ease-in-out;
}
.project-card:nth-child(1) .project-card-bg {
    background: url("../img/placeholder1.jpg");
    background-size: 100%;
}
.project-card:nth-child(2) .project-card-bg {
    background: url("../img/placeholder2.jpg");
    background-size: 100%;
}
.project-card:nth-child(3) .project-card-bg {
    background: url("../img/placeholder3.jpg");
    background-size: 100%;
}
.project-info {
    align-self: flex-end;
    position: relative;
    z-index: 4;
    padding: 1rem;
    opacity: 0;
    line-height: 1.8rem;
}
.project-card p, .project-card h2, .project-info h4 {
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0,0,0,.7);
}
.project-info h4 {
    background: rgba(0,0,0,.6);
    border-radius: 10rem;
    padding: .3rem .8rem;
    display: inline-block;
}
.project-card p {
    padding: .8rem 0;
    text-align: justify;
}
/*end of projects section*/

/*start - contact section*/
#contactpopup {
    position: fixed;
    top: 2rem;
    left: calc(50vw - 15rem);
    width: 30rem;
    padding: 1rem;
    height: auto;
    background: rgb(250, 250, 250) url(../img/bg1.png) repeat-x;
    background-size: 100% 60px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    border-radius: .4rem;
    z-index: 9999;
    align-items: center;
    flex-direction: column;
    display: none;
}
#titlebar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    box-sizing: content-box;
}
#titlebar span {
    padding-top: 6px;
}
#lockpage {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    display: none;
}
#lockpage.showlockpage, #contactpopup.show-contactform {
    display: flex;
    animation: move 2s linear;
}
#closecontact {
    border-radius: 0 0 .5rem .5rem;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.5);
    border: 0;
    background: transparent;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    transition: all .25s;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}
#closecontact:hover {
    background: rgb(196, 43, 43);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.0);
}
#closecontact:active {
    background: rgb(196, 43, 43);
    box-shadow: inset 0 0 7px rgba(0,0,0,.8);
}
#closecontact svg {
    fill:rgba(0,0,0,.8);
    width: 20px;
    height: 20px;
}
#closecontact:hover svg, #closecontact:active svg {
    fill: rgb(255,255,255) !important;
}
#form-tabs {
    justify-content: space-between;
    margin-bottom: 2rem;
}
#form-tabs, #form2--contact, #form1--request {
    width: 100%;
}
#form2--contact, #form1--request {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    row-gap: 1rem;
}
#contactpopup form {
    display: none;
    opacity: 0;
}
#contactpopup form.show-form {
    display: grid;
    opacity: 1;
    animation: fade .2s linear, translateX .2s linear;
}
.form-tabs--group {
    position: relative;
}
.option--formtabs {
    position: absolute;
    cursor: pointer;
    visibility: hidden;
}
.option--formtabs + label {
    padding: .5rem 0;
    cursor: pointer;
    user-select: none;
    font-size: 1.3rem;
}
.option--formtabs:checked + label {
    border-bottom: 3px solid #208de0;
    color: #208de0;
    transition: all .2s ease-in-out;
}
.formgroup {
    position: relative;
}
.inputform + label {
    position: absolute;
    top: 1rem;
    left: .7rem;
    transition: all .2s ease;
}
.inputform:valid + label,
.inputform:focus + label {
    position: absolute;
    top: .35rem;
    left: .75rem;
    font-size: .8rem;
}
.inputform:focus + label {
    color: #208de0;
}
.inputform {
    padding: 1.3rem 0.86rem 0.7rem 0.73rem;
    border-radius: .4rem;
    border: 1px solid rgba(0,0,0,.5);
    transition: all .2s ease-in-out;
    background: rgba(255,255,255,.7);
    width: 100%;
    box-sizing: border-box;
}
.inputform:focus {
    border: 1px solid #208de0;
    box-shadow: 0 0 0 1px #208de0;
    background: #fff;
}
form input[type="radio"], form input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    margin-right: .5rem;
}
form input[type="checkbox"] + label {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    margin-right: 2rem;
}
textarea {
    resize: none;
    height: 15rem !important;
}
.submitbutton {
    background: #0067b8;
    color: #fff;
    border: 0;
    border-radius: .4rem;
    padding: .9rem 1.2rem;
    letter-spacing: .05rem;
    transition: all .2s ease;
}
.submitbutton:hover {
    background: #147bca;
}
.submitbutton:active {
    background: #0b5288;
    color: #fff;
    transform: scale(0.97);
}
#contactpopup form h3 {
    margin: 1rem 0 0rem 0;
}
/*end - contact section*/

/*start - siteinfo section*/
#siteinfo {
    padding: 5rem 2rem 1rem 2rem;
    color: rgb(117, 117, 117);
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    margin: 6rem 0 0 0;
}
#siteinfo a {
    color: rgb(82, 82, 82);
}
#siteinfo a:hover {
    color: rgb(96, 88, 209);
    text-decoration: underline;
    transition: all .25s ease-in-out;
}
#siteinfo a:active {
    color: rgb(124, 124, 124);
}
/*end - siteinfo section*/
